* {
    padding: 0;
    margin: 0;
}

a {
    color: rgb(47, 154, 255) ;
    text-decoration: none;
}

header {
    width: ;
    height: 400px;
    background-image: url(../media/MTB\ 3.jpg);
    background-position: center;
    background-repeat: no-repeat;
}

 h1 {
    color: white ;
    font-size: 40px;
    position: relative; left: 750px; top: 200px;
 }
 
 h2 {
 
     position: relative; left: 700px; top: -70px;
 }

 h3 {
    color: ;
    font-size: 40px;
    position: relative; left: 750px; 
 }

 h5 {
    color: ;
    font-size: 0px;
    position: relative; left: 50px; 
 }


 .gear-home {
    position: relative; left: 380px; top: -50px;
 }
 
 
 .bar {
     position: relative; left: 400px; top: -70px;
    }
    
    .button {
        position: relative; left: 450px; top: -80px;
    }

/* .navbar ul {
        display: flex;
        align-items: center;
        justify-content: space-around;
    } */
    
.email-bar {
        position: relative; left: 150px; top: 0px;
    }

.featured-bike1 {
    position: relative; left: 300px; top: 30px;
    border-radius: 10px;
}

.featured-bike2 {
    position: relative; left: 500px; top: 30px;
    border-radius: 10px;
}

.left-product {
    position: relative; left: 500px; top: 35px;
}

.right-product {
    position: relative; left: 1200px; top: 0px;
}

.left-price {
    position: relative; left: 530px; top: 35px;
}

.right-price {
    position: relative; left: 1230px; top: 0px;
}

.newsletter-title {
    font-size: 50px; color: black;
    position: relative; left: 100px;
}

.newsletter-lorem {
    width: 30px;
    font-size: 20px; color: rgb(184, 27, 158);
    position: relative; left: 100px;
}

.news {
    background-color: azure;
}
