/* Reset default styles */
* {
  padding: 0;
  margin: 0;
}

/* Removes Anchors lines */
a {
  color: rgb(47, 154, 255);
  text-decoration: none;
}

/* Logo Animation */

.rotate_gear {
  transition: transform 1s;
}

.rotate_gear:hover {
  transform: rotate(360deg);
}