@import "partials/Reset";
@import "partials/mixins";

/* Logo Animation */

.rotate_gear {
    transition: transform 1s;
  }
  
  .rotate_gear:hover {
    transform: rotate(360deg);
  }

  /* mixin Maintenance */
  
.workshop{
    width: 100%;
    height: 800px;
}

.maintenance {
    @include sizes (300px, 500px);
}

/* Wheels Decoration */

.wheels {
    width: 100%;
    height: 700px;
}

.similar {
    width: 200px;
    height: 200px;
}