@import "partials/Reset";
@import "partials/mixins";
@import "partials/variables";

/*Button Styles*/

.btn {
    font-size: $normal;
    width: 110px;
    height: 50px;
    border-radius: 9px;
    border-color: gold;
}

.btn-2ndary {
    @extend .btn;
    border-color: transparent;
}

/*Featured Items Style*/

.Enduro-Bike, .Blue-Helmet, .Green-MTB-Glove, .Rim-Shimano {
    width: 70%;
}


/* Logo Animation */

.rotate_gear {
    transition: transform 1s;
  }
  
  .rotate_gear:hover {
    transform: rotate(360deg);
  }

  /* mixin Maintenance */
  
.maintenance {
    @include sizes (300px, 500px);
}

/* Wheels Decoration */

.wheels {
    width: 100%;
    height: 700px;
}

.similar {
    width: 200px;
    height: 200px;
}

/*Media Queries*/

@media (min-width:320px) and (max-width:1920px) {
    .workshop {
        width: 100%;
    }

    .wheels {
        width: 50%;
        height: 100%;
    }
}