@import "partials/Reset";
@import "partials/mixins";
@import "partials/variables";

/*Button Styles*/

.btn {
    font-size: $normal;
    width: 110px;
    height: 50px;
    border-radius: 9px;
    border-color: gold;
}

.btn-2ndary {
    @extend .btn;
    border-color: transparent;
}

/* Logo Animation */

.rotate_gear {
    transition: transform 1s;
  }
  
  .rotate_gear:hover {
    transform: rotate(360deg);
  }

  /* mixin Maintenance */
  
.workshop{
    width: 100%;
    height: 800px;
}

.maintenance {
    @include sizes (300px, 500px);
}

/* Wheels Decoration */

.wheels {
    width: 100%;
    height: 700px;
}

.similar {
    width: 200px;
    height: 200px;
}